* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #252839;
  font-family: "Segoe UI", Neutrif, -apple-system, BlinkMacSystemFont, 
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  padding: 2rem;
  background: linear-gradient(to right, #114B5F , #028090)
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0;
  }
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

#root {
  height: 100%;
}

input, textarea {
  border: none;
  border-radius: 7px;
  padding: 0.5rem 0.75rem;
  background-color: white;
  outline: none
}

button {
  border: none;
  border-radius: 7px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background: #6bc31d;
  color: white;
}

button:disabled {
  cursor: auto;
  background: #909090;
}
