.message {
    color: white;
    padding: 1.5rem;
    line-height: 1.5em;
    border-radius: 7px;
    margin: 1rem;
    margin-right: 3em;
    max-width: 40rem;
    position: relative;
    background: #94C2ED;
    float: left;
}
.message:after {
    top: 1rem;
    right: 100%;
    border: solid transparent;
    position: absolute;
    border-width: 10px;
    margin-left: -10px;
    border-right-color: #94C2ED;
    content: '';
}

.message.self {
    margin-right: 1em;
    margin-left: 3em;
    background: #86BB71;
    float: right;
}
.message.self:after {
    left: 100%;
    margin-left: 0;
    margin-right: -10px;
    border-right: transparent;
    border-left-color: #86BB71;
}
