.message {
    color: #34353F;
    padding: 0.8rem 1.3rem;
    line-height: 1.5em;
    border-radius: 1.5rem;
    border-bottom-left-radius: 0;
    margin: 0.5rem 1rem;
    margin-right: 3em;
    max-width: 40rem;
    position: relative;
    background: #F2F3F5;
    float: left;
    word-break: break-word;
}

/* .message:after {
    top: 1rem;
    right: 100%;
    border: solid transparent;
    position: absolute;
    border-width: 10px;
    margin-left: -10px;
    border-right-color: #94C2ED;
    content: '';
} */

.message.self {
    margin-right: 1em;
    margin-left: 3em;
    color: white;
    background: #6bc31d;
    float: right;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 0;
}

/* .message.self:after {
    left: 100%;
    margin-left: 0;
    margin-right: -10px;
    border-right: transparent;
    border-left-color: #86BB71;
} */

.message .username {
    font-size: 0.8em;
    margin: 0;
    margin-right: 0.5em;
    font-weight: 600;
}

.message .date {
    font-size: 0.8em;
    text-align: right;
    opacity: 0.8;
    margin: 0;
}

.message .content {
    margin: 0.3em 0;
}
