.side-header {
    padding: 1rem;
    background-color: #191b27;
    color: white;
}

.side-header h2 {
    margin: 0;
}

.side-header ul {
    color: rgba(255, 255, 255, 0.7);
}

.side-header li, .side-header button {
    color: rgba(255, 255, 255, 0.7);
    display: inline;
    background: none;
    padding: 0;
}
