* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #252839;
  font-family: "Segoe UI", Neutrif, -apple-system, BlinkMacSystemFont, 
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  padding: 2rem;
  background: linear-gradient(to right, #aaaaaa , #747474)
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.4); 
  border-radius: 5px;
  margin: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 0.6); 
}

#root {
  height: 100%;
}

input {
  border: none;
  border-radius: 7px;
  padding: 0.5rem 0.75rem;
  background-color: white;
  outline: none
}

button {
  border: none;
  border-radius: 7px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  background: #83e62b;
  color: white;
}

button:disabled {
  cursor: auto;
  background: #909090;
}
